<form {{action "submit" on="submit"}}>
  Send {{input type="text" value=amount class="send-form-field" size=8}} &nbsp;฿
  to address {{input type="text" value=address class="send-form-field" size=40 }}
  <input type="submit" class="send-form-button" {{bindAttr value=submitTitle}}>
</form>
