@import url("ticker-board.css");

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
}

.background-image {
  /* 101% / -3px is used to hide white halo from blur*/
  width: 101%;
  height: 101%;
  left: -3px;
  top: -3px;
  position: fixed;
  background: url('/assets/bg2.jpg') no-repeat 0 0;
  background-size: cover;
  -webkit-filter: blur(2px);
}

.content-wrapper {
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
  position: absolute;
  top: 50%;
  margin-top: -100px;
}

.left-column,
.right-column {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  text-align: center;
}

.login-box {
  width: 800px;
  background: rgba(220, 220, 220, 0.7);
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -400px;
}

.login-box-welcome-text {
  text-align: center;
  color: #333;
}

.login-box-field,
.login-box-submit {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #999;
}

.login-box-submit {
  padding: 10px; 
  font-size: 20px;
  border: 1px solid #0066CC;
  -webkit-appearance: none;
  background: #3399FF;
  color: #fff;
}

.outbound {
  color: red;
}
