@import url("ticker-board.css");

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
}

.background-image {
  /* 101% / -3px is used to hide white halo from blur*/
  width: 101%;
  height: 101%;
  left: -3px;
  top: -3px;
  position: fixed;
  background: url('bg2.jpg') no-repeat 0 0;
  background-size: cover;
  -webkit-filter: blur(2px);
}

.content-wrapper {
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
  position: absolute;
  top: 50%;
  margin-top: -100px;
}

.left-column,
.right-column {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  text-align: center;
}

.login-box {
  width: 800px;
  background: rgba(220, 220, 220, 0.7);
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -400px;
}

.login-box-welcome-text {
  text-align: center;
  color: #333;
}

.login-box-field,
.login-box-submit {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #999;
}

.login-box-submit {
  padding: 10px; 
  font-size: 20px;
  border: 1px solid #0066CC;
  -webkit-appearance: none;
  background: #226CE0;
  color: #D4DCFF;
}

.outbound {
  color: red;
}

.dashboard-balance {
  font-size: 40px;
  text-align: center;
  background: #226CE0;
  color: #D4DCFF;
  padding: 10px 0;
}

.dashboard-address {
  font-size: 20px;
  text-align: center;
  background: #226CE0;
  color: #D4DCFF;
  padding: 5px 0 10px 0;
}

.qrcode-icon {
  background: url('qrcode.png') no-repeat 0 0;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-left: 15px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.dashboard-send-form {
  color: #226CE0;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}

.send-form-field {
  border: none;
  border-bottom: 1px solid #2E382E;
  font-weight: bold;
  font-size: 24px;
  padding: 0 0 2px 0;
  color: #2E382E;
}

.send-form-field:focus {
  outline: none;
  border-bottom: 1px solid #226CE0;
}

.send-form-button {
  -webkit-appearance: none;
  background: #3993DD;
  color: #D4DCFF;
  border: none;
  margin-left: 15px;
  font-size: 20px;
}

.dashboard-no-transactions {
  font-weight: bold;
  color: #999;
  font-size: 32px;
  text-align: center;
}

.transaction-hash {
  color: #3993DD;
}

.dashboard-transactions {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

.dashboard-transactions-list {

}

.dashboard-transaction {
  list-style: none;
}

.dashboard-transaction:before {
  content: "+";
  color: #999;
  font-size: 40px;
  font-weight: bold;
}

.dashboard-transaction-value {

}

.dashboard-transaction-confirmations {

}
