<div class="background-image"></div>
{{ticker-board price=ticker.price ticker=ticker.id}}
<div class="login-box">
  {{input class="login-box-field" placeholder="You secure pass phrase" action="openWallet"}}
  <p class="login-box-welcome-text">Hello, coins.ph! I hope you'll like this project :) Please come up with relatively secure pass phrase,
  type it in the box above and get started!</p>
</div>
{{outlet}}
