<div class="background-image"></div>
<div class="login-box">
    {{#link-to 'wallet.new' class="login-box-submit"}}Create new wallet{{/link-to}}
    {{#link-to 'wallet.open' class="login-box-submit"}}Open existing wallet{{/link-to}}
</div>
{{outlet}}
