<div class="background-image"></div>
<div class="login-box">
    {{input action="createWallet" value="Create new wallet" class="login-box-submit"}}
    {{#link-to 'wallet.new' class="login-box-submit"}}Open existing wallet{{/link-to}}
</div>
{{outlet}}
